:root {
    font-size: 62.5%;
    body {
      margin: 0;
      // Body font size 16px
      font-size: 1.6rem;
    }
  }

a, img, label, input, select, div, fieldset, p, h1, h2, h3, h4, h5, h6, aside, form, span, strong, button{
    outline: none;
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   outline: none;
}

section.master{
    width: 100%;
    margin: 0px auto;
    .content{
        width: 100%;
        margin: 0px auto;
        max-width: 1280px;
        @media(max-width: 1044px){
            padding: 0px 20px;
            box-sizing: border-box;
        }
        @media(max-width: 640px){
            flex-direction: column;
        }
        @media(max-width: 450px){
            padding: 0px 5px;
        }
    }
}

.slide{
    padding-top: 15px;
    .box{
        flex-grow: 1;
        @media(max-width: 640px){
            margin: 0px auto;
            h3{
                text-align: center;
            }
        }
        h3{
            font-family: $fonteTitles;
            font-size: 2.9rem;
            color: $corTitle;
            padding-bottom: 22px;
        }
        &.slide-products {
            flex-grow: 2;
            width: 100%;
            @media(max-width: 640px){
                margin: 0px auto;
                padding-top: 25px;
                h3{
                    text-align: center;
                }
                li{
                    max-width: 310px;
                }
            }
        }
    }
}